<div class="inner-programs pull-left">
	<div class="tabs inner-tabs">
	        {{ content() }}
	        <div class="panel panel-default border-flat">
				<div class="panel-heading">Change Password</div>
				<div class="panel-body">
					<div id="changepassResult"></div>
			  		<form method="post" id="changepassForm" action="/myaccount/changepass">
			  			<div class="form-group">
			                <label>Current Password</label>
			                <input name="oldpassword" type="password" class="form-control border-flat" placeholder="Enter current password">
			            </div>
			            <div class="form-group">
			                <label>New Password</label>
			                <input name="password" type="password" class="form-control border-flat" placeholder="Enter new password">
			            </div>
			            <div class="form-group">
			                <label>Confirm Password</label>
			                <input name="repassword" type="password" class="form-control border-flat" placeholder="Confirm new password">
			            </div>
			            <button type="submit" class="btn btn-success" id="submitChangePass">Change</button>
            			<a type="button" class="btn btn-default" href="/myaccount">Cancel</a>
			  		</form>
				</div>
			</div>
	</div>
</div>