

/* Footer Starts Here */
footer{
	height: 500px;
	background-color: @white;
	.container{
		height: 100%;
	}
}
.footer-logo{
	.size(100%,30%);
}
.foot-img{
	width: 95%;
}
.abklogo{
	.size(11%,100%); float:left;
	img{
		display: inline-block;
	}
}
.helper{
	 display: inline-block; height: 100%; vertical-align: middle;
}
.footer-subscribe{
	width: 100%; margin: 0 auto; padding-top: 30px;
	input{
		border-radius: 0px; height: 46px; background-color: #edecec;
	}
	button{
		border-radius: 0px; background-color:@neon-green;
	}
}
.footer-text{
	.size(100%,30%);
	ul{
		padding:10px 0px; list-style: none; color: @gray;
		li{
			line-height: 1.5;
		}
	}
}
.footer-hr{
	border-width: 1px; .size(100%,0); border-color: @gray;float: left;margin-top: 15px;
}
.footer-icon-container{
	.size(55%,30%); margin: 0 auto; color: @gray;
	a{
		color: @neon-green;
	}
}
.footer-icons{
	a{
	    margin:1% 5%;
	}
	i{
		font-size: 30px; color:@gray;
	}
	
}
/* Footer Ends Here */

/*Media Query Starts Here*/
@media screen and (max-width: 1199px){
	.abklogo{
		width: 15%;
	}
}
@media screen and (max-width: 991px){
	.footer-container {
		width: 100%;
	}
}
@media screen and (max-width: 875px){
	.footer-logo{
		height: 40%; padding-top: 3%; margin-left: 15%;
	}
	#subscribe-logo{
		.size(75%,auto); float: none; padding-top: 9%;
	}
	#cert-logo,#abkrescue-logo{
		.size(40%,40%);
	}
	#cert-logo{
		text-align: left;
	}
	.abklogo{
		.size(17%,40%);
	}
}
@media screen and (max-width: 767px){
	.footer-logo{
		margin-left: 15px;
	}
	.foot-img {
		width: auto;
	}
	#abkrescue-logo{
		width: 45%
	}
	#cert-logo{
		width: 30%
	}
	#cert-logo,#abkrescue-logo{
		float: left;text-align: center;
	}
	.abklogo{
		width: 25%;
	}
	#abkrescue-logo img{
		width: 100%;
	}
	#subscribe-logo{
		width: 90%;
	}
	footer{
		height: auto;
	}
	.footer-icon-container{
		    width: 90%
	}
}
@media screen and (max-width: 550px){
	.foot-img, #cert-logo img {
		width: 100%;
	}
	#abkrescue-logo {
		padding-top: 4%;
	}
	.footer-subscribe input{
		height: 38px;
	}
	.footer-subscribe button{
		font-size: 12px;
	}
}
@media screen and (max-width: 325px){
	.footer-icons a {
		margin: 1% 2%;
	}
}

/*@media screen and (max-width: 1199px){
	.foot-info{
		.col-lg-1{
			width: 15%;
			float: left;
		}
		.col-lg-6{
			width: 85%;
		}
	}
	.menu-footer ul li a {
		padding: 0px 80px 0px 0px;
	}
}
@media screen and (max-width: 1060px){
		footer{
		.col-sm-offset-3 {
			margin-left: 15%;
		}
		.col-sm-6 {
			width: 70%;
		}
		.footer-content .foot-info {
			padding-left: 15vw;
		}
	}
}
@media screen and (max-width: 991px){
	.menu-footer {
		margin-left: 5%;
		width: 100%;
	}
}
@media screen and (max-width: 914px){
	.menu-footer ul li a {
			padding: 0px 60px 0px 0px;
	}
}
@media screen and (max-width: 820px){
	.menu-footer ul li a {
			padding: 0px 50px 0px 0px;
	}
}
@media screen and (max-width: 767px){
	footer{
		.col-sm-offset-3 {
			margin:0 auto;
		}
		.col-sm-6 {
			width: 100%;
		}
	}
	.menu-footer {
		margin-left: 0%;
		ul li a {
			font-size: 11px!important;
		}
	}
	.medi-menu .container{
		padding:0px;
	}
}
@media screen and (max-width: 660px){
	.medi-menu {
		height: 300px;
	}
	.menu-footer ul li {
		float: none; 
		display: block; 
		text-align: center;
	}
	
}
@media screen and (max-width: 570px){
	.foot-info .col-lg-6 {
		width: 100%;
		span{
			font-size: 12px;
		}
		p{
			font-size: 10px;
		}
	}
	footer .footer-content i {
		color: #e74b3b;
		font-size: 20px;
	}
	footer .footer-content .footer-subscribe {
		width: 100%;
	}
}
@media screen and (max-width: 480px){
	footer .footer-content {
		img{
			width: 75%;
		}
	}
	footer .footer-content .foot-info {
		padding-left: 7vw;
	}
	footer .footer-content .footer-icons .btn-xlg {
		width: 40px;
		height: 40px;
	}
	footer .footer-content .footer-icons a i {
		font-size: 25px;
		line-height: 40px;
	}
	footer {
		height: 470px;
	}
	.menu-footer ul li a {
		padding: 0px;
	}
}
@media screen and (max-width: 400px){
	footer .footer-content .foot-info {
		padding-left: 1.5vw;
	}
	.foot-info .col-lg-1 {
		width: 100%;
	}
	.foot-info .col-lg-6 {
		text-align: center;
	}
	footer .footer-content .foot-info {
		padding-top: 30px;
	}
}*/
/*Media Query Ends Here*/