/*Global zz*/
@icon-path: '../../../fonts/';

/*theme colors*/
@black: #1d1d1d; //EDIT: auth.AC
@dirty-white: #e7e6dd;
@gray:#92908f;
@lighterblue:#3498db;

// ADDITIONAL: auth.AC
@green: #10a800;
@white:#fff;
@neon-green: #10a800;
@red:#ff0000;
// END auth.AC

@font-face {
  font-family: 'Lato-Regular';
  src: url('@{icon-path}Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('@{icon-path}Lato-Bold.ttf');
}
@font-face {
  font-family: 'Lato-Black';
  src: url('@{icon-path}Lato-Black.ttf');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('@{icon-path}open-sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('@{icon-path}open-sans/OpenSans-Bold.ttf');
}

/*.btn-rounded(){
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}*/
.open-sans{
    font-family: 'Open-Sans';
}
.open-sans-bold{
    font-family: 'Open-Sans-Bold';
}
.lato-regular{
    font-family: 'Lato-Regular';
}
.lato-bold{
    font-family: 'Lato-Bold';
}
.lato-black{
    font-family: 'Lato-Black';
}

.size10{
    font-size:10px;
}
.size12{
    font-size:12px;
}
.size13{
    font-size: 13px;
}
.size15{
    font-size:15px;
}
.size16{
    font-size:16px;
}
.size18{
    font-size:18px;
}
.size21{
    font-size:21px;
}
.size20{
    font-size:20px;
}
.size25{
    font-size:25px;
}
.line-height1{
    line-height: 1;
}
.line-height2{
    line-height: 2;
}

// ADDITIONAL: auth.AC
.line-height3{
    line-height: 3;
}
// END auth.AC

.nopad{
    padding: 0px!important;
}
.nopadleft{
    padding-left: 0px!important;
}
.nopadright{
    padding-right: 0px!important;
}
/*.pad30{
    padding-right: 30px!important;
}
.padbot-25{
        padding-bottom: 25px;
}*/
.marginbot{
    margin-bottom: 85px;
}
.mgtop10{
    margin-top: 10px;
}
.mgtop20{
    margin-top: 20px;
}
.mgtop5{
    margin-top: 5%;
}
.mgbot5{
    margin-bottom: 5%;
}
.height100{
    height: 100%;
}
.height50{
    height: 50%;
}
.no-float{
    float:none!important;
}
.margin-auto{
    margin:0 auto;
}
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.text-justify{ text-align: justify; }
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.transform(@transform) {
    -webkit-transform:@transform;
       -moz-transform:@transform;
        -ms-transform:@transform;
         -o-transform:@transform;
            transform:@transform;
}
.bg-image-dynamic() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.absolute-center() {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.column-count(@num){
-webkit-column-count: @num; /* Chrome, Safari, Opera */
    -moz-column-count: @num; /* Firefox */
         column-count: @num;
}
.column-gap(@num){
-webkit-column-gap: @num;
   -moz-column-gap: @num;
        column-gap: @num;
}
.more-hover(){
    position: absolute;
    .absolute-center(); 
    z-index: 2;
    bottom: 0;
    overflow:hidden;
    background: #3498db;
    .transition(all ease .3s);
    width: 23%;
    height: 5px;
    &:hover{
        height: 20px;
        .transition(all ease 450ms);
        a{
            display: inline-block;
        }
    }
}


// ADDITIONAL: auth.AC
.box-shadow{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
// END auth.AC